<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0">Manage Rates</h2>
              <h6 class="text-uppercase text-muted ls-1 mb-1">
                View and update current system set rate
              </h6>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-xl-6">
              <div style="text-align: center; margin-top: 40px;">
                <h4>
                  CURRENT SET RATE
                </h4>
                <h2 *ngIf="!isLoadingRate; else elseBlock">
                  {{ rate?.currencyDesc }} : {{ rate?.amount }}
                </h2>
                <ng-template #elseBlock>
                  <img
                    style="width: 10%;"
                    src="./assets/img/transparent-spinner.gif"
                  />
                </ng-template>
              </div>
            </div>
            <div class="col-xl-6">
              <form
                [formGroup]="rateService.rateForm"
                #formDirective="ngForm"
                (submit)="onSubmitToUpdateRate(formDirective)"
              >
                <div class="row">
                  <div class="col-md-10">
                    <div class="form-group">
                      <input
                        type="text"
                        formControlName="desc"
                        value="{{ rate?.currencyDesc }}"
                        readonly
                        [(ngModel)]="rateDesc"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="form-group">
                      <input
                        type="text"
                        formControlName="amount"
                        placeholder="{{ rate?.amount }}"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-md-10">
                    <button
                      [disabled]="
                        isSubmittingRateForm || !rateService.rateForm.valid
                      "
                      class="btn btn-primary btn-block"
                    >
                      {{ isSubmittingRateForm ? "Saving rate..." : "Update" }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
