<div
  class="page-header header-filter slide"
  data-parallax="true"
  style="background-image: url('./assets/img/asset_4.png');"
>
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <h1 class="title text-right">
          Send Money from Australia with TopRate Transfer.
        </h1>
        <h4 class="text-right">
          Money transfer made easy at the comfort of your Home and Offices.
        </h4>
        <br />
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-5">
            <span>
              <img class="img-icon" src="./assets/img/android.png" />
            </span>
            <span>
              <img class="img-icon" src="./assets/img/apple.png" />
            </span>
          </div>
          <div class="col-md-4">
            <a href="#" target="_blank" class="mt-4 btn btn-lg btn-primary">
              <i class="fa fa-arrow-left"></i> Download TopRate App
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">Our Core Values</h2>
          <h5 class="description">
            This is the paragraph where you can write more details about your
            product. Keep you user engaged by providing meaningful information.
            Remember that by this time, the user is curious, otherwise he
            wouldn&apos;t scroll to get here. Add a button if you want the user
            to see more.
          </h5>
        </div>
      </div>
      <div class="features">
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">fingerprint</i>
              </div>
              <h4 class="info-title">Optimum Security</h4>
              <p>
                Divide details about your product or agency work into parts.
                Write a few lines about each one. A paragraph describing a
                feature will be enough.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-success">
                <i class="material-icons">verified_user</i>
              </div>
              <h4 class="info-title">Reliable Service</h4>
              <p>
                Divide details about your product or agency work into parts.
                Write a few lines about each one. A paragraph describing a
                feature will be enough.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-info">
                <i class="material-icons">flight_takeoff</i>
              </div>
              <h4 class="info-title">Fast Transaction</h4>
              <p>
                Divide details about your product or agency work into parts.
                Write a few lines about each one. A paragraph describing a
                feature will be enough.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid about-container" data-parallax="true">
    <div class="row mt-4">
      <div class="col-md-7 text-center">
        <h2 class="title text-white">About TopRate Transfer</h2>
        <h5 class="description text-white">
          This is the paragraph where you can write more details about your
          product. Keep you user engaged by providing meaningful information.
          Remember that by this time, the user is curious, otherwise he
          wouldn&apos;t scroll to get here. Add a button if you want the user to
          see more. This is the paragraph where you can write more details about
          your product. Keep you user engaged by providing meaningful
          information. Remember that by this time, the user is curious,
          otherwise he wouldn&apos;t scroll to get here. Add a button if you
          want the user to see more
        </h5>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="card rate-card">
          <div class="card-header card-header-text card-header-primary">
            <div class="card-text">
              <h3 class="card-title text-center">Our Rate Today</h3>
            </div>
          </div>
          <div class="card-body">
            <h6>When you send</h6>
            <div class="row">
              <div class="col-md-6 mt-1">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">euro_symbol</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" value="100" />
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <select
                  class="form-control selectpicker"
                  data-style="btn btn-link"
                  id="exampleFormControlSelect2"
                >
                  <option>EUR</option>
                  <option>NIG</option>
                  <option>NIG</option>
                  <option>NIG</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mt-3 text-center">
                <button
                  class="m-auto btn btn-primary btn-fab btn-fab-lg btn-round"
                >
                  <i class="material-icons">cached</i>
                </button>
              </div>
            </div>
            <h6>They'll receive</h6>
            <div class="row">
              <div class="col-md-6 mt-1">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">euro_symbol</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" value="100" />
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <select
                  class="form-control selectpicker"
                  data-style="btn btn-link"
                  id="exampleFormControlSelect2"
                >
                  <option>EUR</option>
                  <option>NIG</option>
                  <option>NIG</option>
                  <option>NIG</option>
                </select>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-7">
                <h5>Transfer without hustle</h5>
              </div>
              <div class="col-md-5">
                <button class="btn btn-primary">Get Started</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <h2 class="title text-center" style="margin-bottom: 30;">
        How to Send Money with TopRate Transfer
      </h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header card-header-text card-header-primary">
              <div class="card-text">
                <h4 class="card-title">
                  <i class="material-icons">person_add</i>
                  Sign up for free
                </h4>
              </div>
            </div>
            <div class="card-body">
              The place is close to Barceloneta Beach and bus stop just 2 min by
              walk and near to "Naviglio" where you can enjoy the main night
              life in Barcelona...
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header card-header-text card-header-primary">
              <div class="card-text">
                <h4 class="card-title">
                  <i class="material-icons">touch_app</i>
                  Enter Amount Details
                </h4>
              </div>
            </div>
            <div class="card-body">
              The place is close to Barceloneta Beach and bus stop just 2 min by
              walk and near to "Naviglio" where you can enjoy the main night
              life in Barcelona...
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header card-header-text card-header-primary">
              <div class="card-text">
                <h4 class="card-title">
                  <i class="material-icons">account_box</i>
                  Enter Receiver Details
                </h4>
              </div>
            </div>
            <div class="card-body">
              The place is close to Barceloneta Beach and bus stop just 2 min by
              walk and near to "Naviglio" where you can enjoy the main night
              life in Barcelona...
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header card-header-text card-header-primary">
              <div class="card-text">
                <h4 class="card-title">
                  <i class="material-icons">fingerprint</i>
                  Verify your Identity
                </h4>
              </div>
            </div>
            <div class="card-body">
              The place is close to Barceloneta Beach and bus stop just 2 min by
              walk and near to "Naviglio" where you can enjoy the main night
              life in Barcelona...
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header card-header-text card-header-primary">
              <div class="card-text">
                <h4 class="card-title">
                  <i class="material-icons">swap_horiz</i>
                  Make Transfer Payment
                </h4>
              </div>
            </div>
            <div class="card-body">
              The place is close to Barceloneta Beach and bus stop just 2 min by
              walk and near to "Naviglio" where you can enjoy the main night
              life in Barcelona...
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header card-header-text card-header-primary">
              <div class="card-text">
                <h4 class="card-title">
                  <i class="material-icons">sentiment_satisfied_alt</i>
                  And that's it!
                </h4>
              </div>
            </div>
            <div class="card-body">
              The place is close to Barceloneta Beach and bus stop just 2 min by
              walk and near to "Naviglio" where you can enjoy the main night
              life in Barcelona...
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid faq-container" id="faq">
    <div class="accordion" id="accordionExample">
      <h2 class="title text-white text-center" style="margin-bottom: 30;">
        Frequently Asked Question
      </h2>
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left"
              type="button"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              What is TopRate Transfer ?
            </button>
          </h2>
        </div>

        <div
          id="collapseOne"
          class="collapse show"
          aria-labelledby="headingOne"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
            skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
            single-origin coffee nulla assumenda shoreditch et. Nihil anim
            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth
            nesciunt you probably haven't heard of them accusamus labore
            sustainable VHS.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left collapsed"
              type="button"
              data-toggle="collapse"
              data-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              How do I get started ?
            </button>
          </h2>
        </div>
        <div
          id="collapseTwo"
          class="collapse"
          aria-labelledby="headingTwo"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
            skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
            single-origin coffee nulla assumenda shoreditch et. Nihil anim
            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth
            nesciunt you probably haven't heard of them accusamus labore
            sustainable VHS.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left collapsed"
              type="button"
              data-toggle="collapse"
              data-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              How does rates work ?
            </button>
          </h2>
        </div>
        <div
          id="collapseThree"
          class="collapse"
          aria-labelledby="headingThree"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
            skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
            single-origin coffee nulla assumenda shoreditch et. Nihil anim
            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth
            nesciunt you probably haven't heard of them accusamus labore
            sustainable VHS.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container testimonial" id="testimony">
    <h2 class="title text-center">What Our Clients Say</h2>
    <div class="items">
      <div class="card">
        <div class="media media-2x1 gd-primary">
          <img
            class="profile-image"
            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1568709978/BBBootstrap/2.jpg"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Delbert Simonas</h5>
          <p><i>Sydney, Australia</i></p>
          <p class="card-text">
            "Online reviews can make or break a customer's decision to make a
            purchase. Read about these customer review on site"
          </p>
        </div>
      </div>
      <div class="card">
        <div class="media media-2x1 gd-primary">
          <img
            class="profile-image"
            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561869127/BBBootstrap/img-3.jpg"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Tikoh Amin</h5>
          <p><i>Sydney, Australia</i></p>
          <p class="card-text">
            "When you think of Apple you automatically think expensive if your
            anything like me. When purchasing this laptop I was."
          </p>
        </div>
      </div>
      <div class="card">
        <div class="media media-2x1 gd-primary">
          <img
            class="profile-image"
            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561869127/BBBootstrap/img-2.jpg"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Malachi Lensing</h5>
          <p><i>Sydney, Australia</i></p>
          <p class="card-text">
            "I’ve wanted a MacBook for a while now because of the build quality
            and the simplicity of the OS. I spend an average 6."
          </p>
        </div>
      </div>
      <div class="card">
        <div class="media media-2x1 gd-primary">
          <img
            class="profile-image"
            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561869126/BBBootstrap/img-1.jpg"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Christian Isla</h5>
          <p><i>Sydney, Australia</i></p>
          <p class="card-text">
            "This MacBook has excellent processing speed. The screen is crystal
            clear and I really enjoy the touchbar. I set it up."
          </p>
        </div>
      </div>
      <div class="card">
        <div class="media media-2x1 gd-primary">
          <img
            class="profile-image"
            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1563294707/Profile/img-1.jpg"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Lori Charles</h5>
          <p><i>Sydney, Australia</i></p>
          <p class="card-text">
            "For the last 10 years, I have owned an old Gateway laptop. Although
            it was amazing and lasted me, it was time for an."
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid contact" id="contact">
    <div class="row">
      <div class="col-md-6">
        <h2 class="title text-center">Get in touch via our various mediums</h2>
        <div class="info-box text-justify">
          <h3>
            <i class="material-icons">mail_outline</i>
            help@topratetransfer.com.au
          </h3>
          <h3><i class="material-icons">phone</i> +61 896 5678 234</h3>
          <h3>
            <i class="material-icons">forum</i> Click here to begin a chat
          </h3>
        </div>
        <h3></h3>
      </div>
      <div class="col-md-6 img">
        <img
          src="./assets/img/asset_4.png"
          alt="TopRate Image"
          style="width: 100%;"
        />
      </div>
    </div>
  </div>
</div>

<script>
  $(".slide").backstretch(
    [
      "./assets/img/asset_2.png",
      "./assets/img/asset_3.png",
      "./assets/img/asset_1.png",
      "./assets/img/asset_4.png",
    ],
    {
      duration: 100,
      fade: 750,
    }
  );
</script>
