<div class="footer">
  <div class="container-fluid">
    <div class="row text-white text-center">
      <div class="col-md-3" style="padding-top: 50px;">
        <img
          src="./assets/img/tplogowhite.png"
          alt="logo"
          style="width: 60%;"
        />
      </div>
      <div class="col-md-3" style="padding-top: 20px;">
        <h4><strong>Links</strong></h4>
        <ul class="list-group" style="margin-top: -10px;">
          <!-- <li class="list-group-item"><a routerLink="/about">About Us</a></li> -->
          <li class="list-group-item">
            <a routerLink="/privacy">Privacy Policy</a>
          </li>
          <li class="list-group-item">
            <a routerLink="/tandc">Terms and Conditions</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <app-footer-banner-card
          linkUrl="https://play.google.com/store/apps/details?id=ng.trt.trt"
          imgUrl="./assets/img/android_brand.png"
        ></app-footer-banner-card>
      </div>
      <div class="col-md-3">
        <app-footer-banner-card
          linkUrl="https://apps.apple.com/pl/app/trt-send-money-to-nigeria/id1526948075"
          imgUrl="./assets/img/apple_brand.png"
        ></app-footer-banner-card>
      </div>
    </div>
  </div>
</div>
