<div class="header bg-gradient-brand pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="">
        <h1 class="display-3 text-white">Dashboard Overview</h1>
      </div>
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Total Registered Users
                  </h5>
                  <span
                    *ngIf="totalRegisteredUser != null; else loader"
                    class="h2 font-weight-bold mb-0"
                    >{{ totalRegisteredUser.toLocaleString() }}</span
                  >
                  <ng-template #loader>
                    <span>
                      <img
                        style="width: 12%;"
                        src="./assets/img/transparent-spinner.gif"
                      />
                    </span>
                  </ng-template>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-default text-white rounded-circle shadow"
                  >
                    <i class="ni ni-circle-08"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Total Transaction Counts
                  </h5>
                  <span
                    *ngIf="totalTransactionCount != null; else loader"
                    class="h2 font-weight-bold mb-0"
                    >{{ totalTransactionCount.toLocaleString() }}</span
                  >
                  <ng-template #loader>
                    <span>
                      <img
                        style="width: 12%;"
                        src="./assets/img/transparent-spinner.gif"
                      />
                    </span>
                  </ng-template>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-default text-white rounded-circle shadow"
                  >
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Total Amount Processed
                  </h5>
                  <span
                    *ngIf="totalAmountProcessed != null; else loader"
                    class="h2 font-weight-bold mb-0"
                    >{{ totalAmountProcessed.toLocaleString() }}</span
                  >
                  <ng-template #loader>
                    <span>
                      <img
                        style="width: 12%;"
                        src="./assets/img/transparent-spinner.gif"
                      />
                    </span>
                  </ng-template>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-default text-white rounded-circle shadow"
                  >
                    <i class="ni ni-credit-card"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7" style="margin-bottom: 60px;">
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Overview</h6>
              <h2 class="mb-0">Users Monthly Growth Chart</h2>
            </div>
            <div class="col"></div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div>
            <canvas
              baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
            ></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7 total_card">
  <div class="row">
    <div class="col-xl-12 col-lg-6">
      <div class="card shadow mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col total_card_content">
              <h5 class="card-title text-uppercase text-white mb-0">
                Current Month Total Amount
              </h5>
              <span
                *ngIf="totalAmountProcessedForTheMonth != null; else loader"
                class="font-weight-bold"
                style="font-size: 50px;"
                >AUD
                {{ totalAmountProcessedForTheMonth.toLocaleString() }}.00</span
              >
              <ng-template #loader>
                <span>
                  <img
                    style="width: 12%;"
                    src="./assets/img/transparent-spinner.gif"
                  />
                </span>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-rate></app-rate>
