<div class="footer">
  <div class="container-fluid">
    <div class="row text-white text-center">
      <div class="col-md-3" style="padding-top: 50px;">
        <img
          src="./assets/img/tplogowhite.png"
          alt="logo"
          style="width: 60%;"
        />
      </div>
      <div class="col-md-3" style="padding-top: 30px;">
        <h3><strong class="text-white">Legal</strong></h3>
        <ul class="list-group">
          <li class="list-group-item"><a href="#">Privacy Policy</a></li>
          <li class="list-group-item"><a href="#">Terms of Service</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <app-footer-banner-card
          imgUrl="./assets/img/android_brand.png"
        ></app-footer-banner-card>
      </div>
      <div class="col-md-3">
        <app-footer-banner-card
          imgUrl="./assets/img/apple_brand.png"
        ></app-footer-banner-card>
      </div>
    </div>
  </div>
</div>
