<div class="header bg-gradient-brand pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="">
        <h1 class="display-3 text-white">Austrac Record</h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7 mb-4">
  <div class="row">
    <div class="tbl-action">
      <button
        type="button"
        class="btn btn-primary btn-create"
        data-toggle="modal"
        data-target="#staticBackdrop"
        (click)="viewSelectedRow()"
        [disabled]="!rowSelected()"
      >
        <i class="ni ni-single-copy-04"></i> View Detail
      </button>
      <button
        type="button"
        class="btn btn-primary btn-create"
        data-toggle="modal"
        data-target="#reportStaticBackdrop"
      >
        <i class="material-icons">
          description
        </i>
        Generate AUSTRAC Report
      </button>
    </div>
    <div class="col-xl-12 mb-5 mb-xl-0">
      <ag-grid-angular
        #agGrid
        style="width: 100%; height: 700px;"
        id="myGrid"
        class="ag-theme-alpine"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [defaultColGroupDef]="defaultColGroupDef"
        [editType]="editType"
        [columnTypes]="columnTypes"
        [rowSelection]="rowSelection"
        suppressRowClickSelection
        [rowData]="rowData"
        [overlayLoadingTemplate]="overlayLoadingTemplate"
        [overlayNoRowsTemplate]="overlayNoRowsTemplate"
        [paginationAutoPageSize]="true"
        [pagination]="true"
        (gridReady)="onGridReady($event)"
      ></ag-grid-angular>
    </div>
  </div>
</div>

<!-- Transaction Details Modal -->
<div
  class="modal fade detail"
  id="staticBackdrop"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  role="dialog"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="staticBackdropLabel">
          Overall AUSTRAC Details
        </h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <hr />
        <h3>Transaction</h3>
        <p>id: {{ austracDetailModel?.id }}</p>

        <p>Reference Number: {{ austracDetailModel?.transactionRefNo }}</p>
        <p>Type of Transaction: {{ austracDetailModel?.typeOfTransaction }}</p>
        <p>Amount: {{ austracDetailModel?.transactionAmount }}</p>
        <p>
          Reason for Transaction:
          {{ austracDetailModel?.reasonForTransaction || "..." }}
        </p>
        <p>Sender FullName: {{ austracDetailModel?.senderFullName }}</p>
        <p>Receiver FullName: {{ austracDetailModel?.receiverFullName }}</p>
        <p>Officer FullName: {{ austracDetailModel?.officerFullName }}</p>
        <p>Currency Code: {{ austracDetailModel?.currencyCode }}</p>
        <p>Date Sent: {{ austracDetailModel?.dateMoneyReceived }}</p>
        <hr />
        <h3>Organisation</h3>
        <p>
          Is Organisation accepting money ?
          {{ austracDetailModel?.isOrganisationAcceptingMoney }}
        </p>
        <p>
          Is Organisation sending transfer instruction ?
          {{ austracDetailModel?.isOrganisationSendingTransferInstruction }}
        </p>
        <p>
          Is Organisation distributing money ?
          {{ austracDetailModel?.isOrganisationDistributingMoney }}
        </p>
        <p></p>
        <p>
          Seperate retail outlet location ?
          {{ austracDetailModel?.isSeperateRetailOutletLocation }}
        </p>
        <hr />
        <h3>Reporter</h3>
        <p>Name: {{ austracDetailModel?.reportWriterName }}</p>
        <p>Job Title: {{ austracDetailModel?.reportWriterJobTitle }}</p>
        <p>Phone Number: {{ austracDetailModel?.reportWriterPhoneNumber }}</p>
        <p>Email: {{ austracDetailModel?.reportWriterEmail }}</p>
        <hr />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Report Modal -->
<div
  class="modal fade"
  id="reportStaticBackdrop"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  role="dialog"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          Monthly Report Generator
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="dateQuery">From Date</label>
        <div class="form-group">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="material-icons">
                  event
                </i></span
              >
            </div>
            <input
              id="dateQuery"
              class="form-control"
              [(ngModel)]="fromReportQueryDate"
              placeholder="DD-MM-YYYY"
              type="text"
              #querydate="ngModel"
              pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[13-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{4})$"
            />
          </div>
        </div>
        <label for="dateQuery">To Date</label>
        <div class="form-group">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="material-icons">
                  event
                </i></span
              >
            </div>
            <input
              id="dateQuery"
              class="form-control"
              [(ngModel)]="toReportQueryDate"
              placeholder="DD-MM-YYYY"
              type="text"
              #querydate="ngModel"
              pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[13-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{4})$"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          (click)="pullReport()"
          [disabled]="querydate.invalid && querydate.dirty"
          class="btn btn-primary mr-4"
        >
          Download Report
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
