<div class="header bg-gradient-brand pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="">
        <h1 class="display-3 text-white">Users & Verification Management</h1>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="tbl-action">
      <button
        (click)="displayViewForSelectedRow()"
        [disabled]="!rowSelected()"
        data-toggle="modal"
        data-target="#userDetailModal"
        type="button"
        class="btn btn-primary btn-create"
      >
        <i class="ni ni-badge"></i> View Selected User
      </button>
    </div>
    <div class="col-xl-12 mb-5 mb-xl-0">
      <ag-grid-angular
        #agGrid
        style="width: 100%; height: 700px;"
        id="myGrid"
        class="ag-theme-alpine"
        [gridOptions]="gridOptions"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [defaultColGroupDef]="defaultColGroupDef"
        [editType]="editType"
        [rowSelection]="rowSelection"
        [columnTypes]="columnTypes"
        [rowData]="rowData"
        (cellValueChanged)="onCellValueChanged($event)"
        [overlayLoadingTemplate]="overlayLoadingTemplate"
        [overlayNoRowsTemplate]="overlayNoRowsTemplate"
        (gridReady)="onGridReady($event)"
      ></ag-grid-angular>
    </div>
  </div>
</div>

<!--User Detail Modal -->
<div
  class="modal fade"
  id="userDetailModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="userDetailModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)"
                ><img
                  *ngIf="userModel?.profilePhotoUrl; else noavatar"
                  class="rounded-circle"
                  src="{{ userModel?.profilePhotoUrl }}"
              /></a>
              <ng-template #noavatar>
                <img class="rounded-circle" src="./assets/img/no_avatar.jpg" />
              </ng-template>
            </div>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="text-center">
            <h3>
              {{ userModel?.firstName }} {{ userModel?.lastName }}
              <span class="font-weight-light"
                >,{{ userModel?.gender }} - {{ userModel?.age }}</span
              >
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{ userModel?.address }},
              {{ userModel?.city }}, {{ userModel?.state }},
              {{ userModel?.country }} {{ userModel?.postalCode }}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i
              >{{ userModel?.email }} - {{ userModel?.phoneNumber }}
            </div>
            <hr class="my-4" />
            <pre>
              Date Joined: {{userJoinedDate}}

              ID Verification Status: <span class="badge badge-pill" [ngClass]="{'badge-success': userModel?.isIdVerification, 'badge-danger': !userModel?.isIdVerification}">{{userModel?.isIdVerification ? 'Verified' : 'Not Verified'}}</span>
              
              Activation Status: <span class="badge badge-pill" [ngClass]="{'badge-success': userModel?.isActivated, 'badge-danger': !userModel?.isActivated}">{{userModel?.isActivated ? 'Verified' : 'Not Verified'}}</span>
              
              Facial Verification Status: <span class="badge badge-pill" [ngClass]="{'badge-success': userModel?.isFacialVerification, 'badge-danger': !userModel?.isFacialVerification}">{{userModel?.isFacialVerification ? 'Verified' : 'Not Verified'}}</span>
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
