<nav
  style="background-color: white !important;"
  class="mat-navbar shadow mat-navbar-transparent mat-fixed-top mat-navbar-expand-lg"
  color-on-scroll="100"
  id="sectionsNav"
>
  <div class="container">
    <div class="mat-navbar-translate">
      <a
        class="mat-navbar-brand"
        style="padding: 0px !important; width: 200px;"
        href="https://demos.creative-tim.com/material-kit/index.html"
      >
        <!-- Top Rate -->
        <img
          style="width: 55% !important;"
          src="./assets/img/tplogobrand.png"
          class="navbar-brand-img"
          alt="logo"
        />
      </a>
      <button
        class="mat-navbar-toggler"
        type="button"
        data-toggle="collapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="mat-navbar-toggler-icon"></span>
        <span class="mat-navbar-toggler-icon"></span>
        <span class="mat-navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse mat-navbar-collapse">
      <ul class="mat-navbar-nav ml-auto" style="width: 300px;">
        <li class="mat-nav-item">
          <a href="#faq" class="mat-nav-link">
            FAQs
          </a>
        </li>
        <li class="mat-nav-item">
          <a class="mat-nav-link" href="#testimony">
            Testimonial
          </a>
        </li>
        <li class="mat-nav-item">
          <a class="mat-nav-link" href="#contact">
            Our Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
