<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
</div>

    </div>
    <div class="col-md-8">
          <ul  class="nav-tabs">
            <li ngbNavItem>
              <a ngbNavLink>Dashboard</a>
              <ng-template ngbNavContent> Dashboard</ng-template>
            </li>

            <li ngbNavItem>
              <a ngbNavLink>Receivers List</a>
              <ng-template ngbNavContent> Receivers List</ng-template>
            </li>

              <li ngbNavItem>
              <a ngbNavLink>My Account</a>
              <ng-template ngbNavContent>My Account</ng-template>
            </li>
          </ul>
          <div ></div>
    </div>
  </div>

</div>


