<!-- Page content -->
<div
  class="container login mt-4"
  style="margin-top: 100px !important; margin-bottom: 30px !important;"
>
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow border-0" style="width: 100%; margin: 0 auto;">
        <div class="card-body px-lg-5 py-lg-4">
          <h1>Terms and Conditions</h1>
          <p>
            <b>CONSUMER FRAUD ALERT:</b> ALL OUR CUSTOMERS ARE ADVISED TO PLEASE
            BE CAREFUL WHEN DEALING WITH STRANGERS AND “UNKNOWN PERSONS”. IF A
            STARNGER ASKS YOU TO SEND MONEY, ESPECIALLY FROM AN UNSOLICITED
            E-MAILS OR INDIVIDUALS YOU DO NOT KNOW OR HAVE NOT MET IN-PERSON,
            FOR INTERNET AUCTIONS, NEWSPAPER OR TELEPHONE OFFERS OR PROMISE OF
            LOVE OR MARRIAGE.
          </p>
          <p>
            We also advise that you do not share your username or password with
            others and avoid email phishing. Please notify Top Rate Transfer if
            you believe your account with us (username and password) have been
            compromised, lost or stolen or if someone may have used them without
            notice.
          </p>
          <p>
            Please notify Top Rate Transfer if you notice any website security
            breach or loopholes in our website that might be susceptible to
            attacks. Top Rate Transfer takes the security of our website and
            customers’ data very seriously and will not hesitate to seek legal
            actions against any individual or groups that tries to steal our
            customer’s personal information or impersonates our website in any
            form or shape.
          </p>
          <p>
            This agreement is between you and Top Rate Transfer Pty Ltd trading
            as Top Rate Transfer Pty Ltd. These Terms and Conditions govern the
            terms under which you may access and use this website and the
            services associated with it (together, the "Service"). By accessing,
            registering with and using the Service, you agree to be bound by the
            terms of the Terms and Conditions. If you do not wish to be bound by
            the Terms and Conditions do not access, register with or use the
            Service. As used throughout these Terms and Conditions, the terms "
            Top Rate Transfer", "we", "us", and "our" refer to Top Rate Transfer
            Pty Ltd, together with its employees, directors, successors,
            affiliates, and assigns. The terms "you" and "your" refer to users
            of the Service, whether in their capacity as Senders, beneficiary
            owners of senders, Recipients (receiver of money transfer), or
            visitors to this website.
          </p>
          <h2>Definitions</h2>
          <p>
            In these Terms and Conditions<br />
            The words "you" and "your" refer to the person who accepts and
            agrees to the terms and conditions of this Agreement. <br />The
            words " Top Rate Transfer", "we" and "us" refer to TOP RATE TRANSFER
            PTY LTD. <br />"Services" means all payment services and related
            products available through this website. <br />"Sender" means
            someone who uses the Service to send money. <br />"Recipient" means
            someone who receives money through the Service. <br />"Destination
            Country" means the country in which the Recipient receives money
            through the Service. <br />“Beneficiary Owner”: As defined by
            AUSTRAC; <br />A beneficial owner of a customer is defined as an
            individual (a natural person or persons) who ultimately owns or
            controls (directly or indirectly) the customer. Ownership for the
            purposes of determining a beneficial owner means owning 25 per cent
            or more of the customer.<br />
            The definition of 'control' includes whether the control is exerted
            by means of trusts, agreements, arrangements, understandings or
            practices and whether or not the individual has control based on
            legal or equitable rights. It includes where an individual can
            exercise control through making decisions about financial and
            operating policies. <br />"Transaction" means a specific instruction
            to send money through the Service. <br />"Transaction Amount" means
            the amount of money that the Sender wishes to send to the Recipient,
            excluding any applicable fees and prior to any foreign exchange
            conversion. "Payment Instrument" means a valid instrument of payment
            such as a bank account, debit card or credit card. <br />"Payout
            Amount" means the amount paid out to the Recipient, after any
            foreign exchange conversion and excluding Local Taxes.
            <br />"Transaction Fee" means the fee plus any additional charges
            applicable to each Transaction. <br />"Service Provider" means a
            local bank, money exchange house, or other third-party service
            providers in the Destination Country with whom Top Rate Transfer
            works in providing the Service. <br />"Emergency" means services or
            remittance requiring an immediate response or transfer i.e for funds
            to be available for the receiver immediately. <br />“Top Rate
            Transfer Remittance Facility” refers to the Top Rate Transfer online
            platform for the purpose of carrying out remittance services.
            <br />"Verify" means that you have to complete our verification
            process in order to help establish your identity with Top Rate
            Transfer. <br />“Website" means any URL, such as
            www.topratetransfer.com.au, that we use to provide the Services to
            you. <br />“Password” means the secret password defined by you, at
            the time of registration. <br />“The Effective Date” means the date
            on which our Terms and Conditions become effective.
          </p>
          <h2>1. Introduction</h2>
          <p>
            <b>1.1.</b> The Top Rate Transfer service is provided by TOP RATE
            TRANSFER PTY LTD ("TOP RATE TRANSFER", "we", "us" or "our") through
            our online platform. Reference to our Money Remittance process in
            this terms and conditions include the use of our website money
            transfer.
          </p>
          <p>
            <b>1.2.</b> This Agreement and Top Rate Transfer service allows you
            to send online money transfer (a "Transfer") to the person named on
            the form (the “Recipient") and allows them to receive the money into
            their local bank account. If or when other forms of electronic or
            virtual accounts remittance, for example a mobile wallet (our
            "online to account" service) becomes available. These terms and
            conditions will be updated accordingly and will apply to both
            services except where we say they apply to only one of them.
          </p>
          <p>
            <b>1.3.</b> In order to use the Top Rate Transfer remittance
            facility for the first time, you must set up your "Profile" by
            entering your personal information, a "User ID" (which is your email
            address is used for identification purposes and to login to your
            Profile), a password, a valid Identification and a contact number.
            For any consecutive Transfers you can use your existing Profile
            using your User ID and password to login. All information provided
            by you shall be stored in your Profile, and shall be maintained by
            us or our "Service Providers" (any company or companies engaged by
            us or our contractors to provide our Remittance Services) based upon
            the information supplied by you.
          </p>
          <p>
            <b>1.4.</b> You cannot send a Transfer on behalf of a third party.
          </p>
          <p>
            <b>1.5.</b> For online transfers, you can either send the money
            within the same country or to a different "Receive Country". Once we
            have accepted your Transfer and the money has been collected from
            your bank account, the recipient can collect the money in the agreed
            currency and agreed exchange rates in the bank account that you
            stated in the online form. We will not contact the Recipient to
            advise them when the money has been deposited. However, you or the
            receiver may receive SMS alert to confirm that the transaction has
            been completed.
          </p>
          <p>
            <b>1.6.</b> We do not offer our services in all countries. You can
            call us or visit our website to find out the availability of our
            services and addresses and opening times of locations offering the
            services.
          </p>
          <p>
            <b>1.7.</b> We may communicate with you electronically (for example,
            by email) unless we are required by law or regulatory requirements
            to communicate in another way. If you do not wish to receive
            communications electronically, you may not use Top Rate Transfer
            Remittance Services.
          </p>
          <p>
            <b
              >1.8. We do not offer emergency services, under no circumstance
              shall your money transfer be deemed "Emergency" or very urgent
              through Top Rate transfer
            </b>
          </p>
          <p>
            <b>1.9.</b>You agree to promptly update your records if your email
            address or other contact information in your profile changes. Follow
            the instructions on our website to update your profile.
          </p>
          <h2>2. The Nature of the Services</h2>
          <p>
            Top Rate Transfer Pty Ltd (<b>ACN 641 161 444</b>) is a company
            registered in Australia with an office located in NT. Top Rate
            Transfer can be contacted by mail on 1D, 174 Forrest Parade,
            Rosebery NT, 0832, Australia, and also by email at
            admin@topratetransfer.com.au Top Rate Transfer is registered with
            AUSTRAC for the for the provision of remittance. Top Rate Transfer
            is only a Remittance Service Provider; Our main business is money
            transfer services. For security reasons, we recommend that you only
            send money through the service to people you know personally. If you
            choose to pay third parties for goods and services using the
            service, you acknowledge that Top Rate Transfer has no control over,
            and is not responsible for, the quality, safety, legality, or
            delivery of such g
          </p>
          <h3>3. Accessing the Services and Registration Information</h3>
          <p>
            <b>3.1</b> To be eligible for our Services, you must be at least 18
            years old. You must be able to form legally binding contracts under
            applicable law. Other restrictions may apply. Top Rate Transfer will
            always contract as a principal with you and deal with you on an
            execution only basis. Our Terms and Conditions are applicable to
            each Transaction. If you submit a Transaction, you are requesting
            that we process the Transaction on your behalf, an offer which we
            may accept or reject at our sole discretion from our place of
            business. However, if we decide not to process the Transaction, we
            will notify you promptly of that decision and repay the money paid
            to us.
          </p>
          <p>
            <b>3.2</b> You will be required to provide certain information that
            identifies each person who seeks to register to use Top Rate
            Transfer Remittance Facility or who requests a Remittance Payment,
            such as your name, address, date of birth, occupation and other
            information that will allow us to identify you. You agree to provide
            complete and accurate information in connection with the
            registration process and you further agree to update this
            information as may be reasonable or necessary to keep it complete
            and accurate at all times.
          </p>
          <p>
            <b>3.3</b> Use of the Top Rate Transfer Remittance Facility is
            granted subject to our ability to verify your identity. If you do
            not provide accurate and complete information during registration or
            when requesting a Remittance Payment, we have the right to prohibit
            you from using our Remittance Facility or decline to process the
            request. In addition, if you do not provide accurate and complete
            information during registration or when requesting a Remittance
            Payment, you may cause errors in your requested remittance payment.
          </p>
          <p>
            <b>3.4</b> You authorize Top Rate Transfer to request a credit
            report on you and/or to obtain information from other third parties
            and financial institutions regarding you or the Payment Account. The
            home address that you provide when registering must be the same as
            the billing address for your debit card or prepaid card. Top Rate
            Transfer may seek to verify your registration information and any
            other information in connection with a request for a Remittance
            Payment but is under no obligation to do so. You acknowledge that
            Top Rate Transfer is relying upon the information you provide.
          </p>
          <p>
            <b>3.5</b> Each time you access our Remittance Facility, you shall
            be deemed to have confirmed the accuracy and completeness of all
            registration information.
          </p>
          <p>
            <b>3.6</b> You authorize Top Rate Transfer to charge you the costs
            associated with verifying your identity in instances a transaction
            was not completed due to incomplete and inaccurate information.
          </p>
          <h2>4. The Website</h2>
          <p>
            You will be able to access material on some areas of the Website
            without going through the registration process. Certain areas of the
            Website are only open to you if you register. Upon registration, you
            will be able to obtain a username and password in order to enable
            you to access the private area of the Website and use the Services.
            You agree to provide true and complete information as prompted by
            the registration form on the Website, and to update this information
            to keep it true and complete at all times. You will notify Top Rate
            Transfer as soon as you become aware of any error in any details you
            have provided. You will be solely and absolutely responsible for
            maintaining the secrecy and confidentiality of all your usernames
            and passwords enabling you to access Top Rate Transfer Website. Top
            Rate Transfer will be entitled to assume that anybody who uses the
            username and password has your full authority to do so and accepts
            no responsibility for misuse or unauthorised access, other than in
            circumstances where the use has been by employees of Top Rate
            Transfer or where you have notified Top Rate Transfer of termination
            in accordance with these Terms and Conditions.
          </p>
          <h2>5. Payment</h2>
          <p>
            <b>5.1</b> When you are sending money under these Terms and
            Conditions, it is your responsibility to make sure all the
            Transaction details are accurate before submission. Once a
            Transaction has been submitted for processing it is impossible to
            change any of its details or call back a transaction that has been
            sent to the beneficiary. If you would prefer to submit a new
            transaction, you will need to provide payment instructions online by
            using our Website.
          </p>
          <p>
            <b>5.2</b> Top Rate Transfer will provide you with the exchange
            rate, Transaction Amount and Payout Amount. We will also generate a
            unique Transaction identification number and funding
            instructions.For each Transaction that you submit, you agree to pay
            us a transaction fee (the “Transaction Fee”) in addition to the
            Transaction Amount. Additional charges may apply. You agree to make
            a total payment (the “Transaction Fee” plus the Transaction Amount)
            for your transaction.
          </p>
          <p>
            <b>5.3</b> Payment becomes due at the time that you submit your
            Transaction. If you submit a Transaction that results in Top Rate
            Transfer becoming liable for charges including but not limited to
            chargeback or other fees, you agree to reimburse us for all such
            fees. In order for us to collect payment from you, you authorize us
            to access, charge, or debit funds from, any of the payment
            instruments you provide us in connection with your use of the
            Service (each, a "Payment Instrument" including, for example, your
            credit card, debit card, PayPal account, or bank account). If your
            payment fails or is insufficient, you authorize us to re-try one or
            more times using the same or a different Payment Instrument. For
            example, if there are insufficient funds in your bank account at the
            time you submit your Transaction, we may try to debit your bank
            account or charge your credit card at a later time.
          </p>
          <p>
            <b>5.4</b> You represent and warrant that you are the lawful owner
            of your Payment Instrument(s).Once we receive funds in our account,
            these funds after conversion to a Recipient's currency will be
            credited to the Recipient's account within two business days in our
            current destination corridors (All Saturdays, Sundays and the bank
            holidays in Nigeria, Ghana, and India are excluded while calculating
            the business days). Top Rate Transfer will not be responsible for
            the delays that may occur on account of missing transaction
            reference number in the wire transfer instructions. You represent
            and warrant that you are the lawful owner of the bank account
            attached to any payment method notified by you.
          </p>
          <p>
            <b>5.5</b> Top Rate Transfer and its Service Providers usually make
            a small profit from exchange rate margins which can vary daily and
            by the minute. The foreign exchange conversion rate shown on the
            Website is the rate applicable for the currency conversion
            transactions done on that particular day and time. Its in no way
            guarantees or represents the foreign exchange conversion rate that
            will actually be applied on a future date and time to the remittance
            initiated by you. Top Rate Transfer will have no responsibility for
            any fees or charges you may incur by the use of a particular Payment
            Instrument to fund a Transaction. These may include but are not
            limited to unauthorised overdraft fees imposed by banks if there are
            insufficient funds in your bank account or "cash advance" fees and
            additional interest which may be imposed by credit card providers if
            they treat the use of the Service as a cash transaction rather than
            a purchase transaction.
          </p>
          <p>
            <b>5.6</b> Top Rate Transfer reserves the right to cancel any
            transaction that is deemed fraudulent or not in accordance to this
            terms and condition. Example; A customer shall only initiate a
            transaction originating from a bank account bearing their names.
          </p>
          <p>
            <b>5.7</b> Banks have specified times for cut off for the receipt
            and dispatch of electronic payments. Therefore, Top Rate Transfer
            accepts no responsibility whatsoever for any delay in onward payment
            attributable to the late arrival of funds or instruction of payment
            relative to the cut off times of the designated bank. Top Rate
            Transfer is not responsible for any charges applied by Recipient’s
            bank resulting from the receipt of funds into the Recipient’s bank
            account. You shall contact directly Recipient's bank for details of
            any such charges. You will not be entitled to any interest for the
            period during which the funds to be remitted are with the Bank or
            pending remittance or are in the course of remittance, or for any
            other period. Top Rate Transfer may, at any time and in our sole
            discretion, limit the amount to be transferred, either on a per
            transaction basis or on an aggregated basis. All our customers
            should be advised that our online merchant is located in Australia.
          </p>
          <h2>6. Payment of Funds to Receiver</h2>
          <p>
            <b>6.1</b> Top Rate Transfer and/or Top Rate Transfer designated
            service providers will arrange for the delivery of the Remittance
            Payment to the Receiver in the country of the Receiver. Payment will
            be made by means of a credit to a bank account provided by the user
            or sender, by stored value card (if available), or by other payment
            instruments. Not all payment methods are available in all countries,
            and Top Rate Transfer reserves the right to change payment method
            options. Top Rate Transfer also reserves the right to select the
            form of payment to the Beneficiary if there are other means other
            than the Receiver Bank account. Top Rate Transfer and/or Top Rate
            Transfer designated service providers will use reasonable efforts to
            provide payment in the form requested, but the Top Rate Transfer
            Remittance Facility is not obligated to provide all these payment
            options for a specific Remittance Payment. If a Receiver cannot be
            located and/or identified, the Remittance Payment funds may be
            returned to you either by a credit to your Payment Account or by
            Check payment, at Top Rate Transfer's option.
          </p>
          <p>
            <b>6.2</b> Top Rate Transfer reserves the right to establish
            identification and verification requirements for a Receiver to
            receive the funds from a Remittance Payment. Top Rate Transfer may
            rely, without further investigation, upon identification information
            or documentation provided by you or a Receiver, including any code
            or identifier number of the Remittance Payment, when making a
            payment of funds to the Receiver. You agree and acknowledge that Top
            Rate Transfer has the right to decline to deliver the payment to the
            Receiver if Top Rate Transfer cannot verify the identity of the
            Receiver. Although Top Rate Transfer has the right to establish
            identification and verification requirements and the Receiver's
            failure to comply with them is a basis to decline the delivery of
            the Remittance Payment, Top Rate Transfer has no obligation to
            establish any such requirements.
          </p>
          <h2>7. Cancellation and Refund</h2>
          <p>
            <b>7.1</b> Please let us know if you have any problems with the
            Service. You can contact us using the contact information at the
            bottom of these Terms and Conditions. You have the right to cancel
            your agreement with us after you have submitted a Transaction. This
            right of cancellation continues until seven days after you have
            submitted the transaction, or until we have completed the contract
            by paying the Payout Amount to the Recipient, whichever is the
            earlier. If you exercise your right to cancel under this clause, we
            may make a cancellation charge. We will consider your written
            request for a refund (submitted by email, or by mail using the
            contact information at the bottom of these Terms and Conditions) if
            you provide the Sender's full name, address, and phone number,
            together with the Transaction identification number, Transaction
            Amount, and the reason for your refund request. Any refunds will be
            credited back to the same Payment Instrument used to fund the
            Transaction and in the same currency. No adjustment will be made for
            any currency fluctuations which may have occurred in the meanwhile.
            If we do provide you a refund, we will only refund the Transaction
            Amount if the Transaction was not paid out to the Recipient (in
            which case we will also cancel your pending Transaction). The
            transfer fee will not be refunded as it represents Top Rate Transfer
            PTY LTD administrative cost.
          </p>
          <p>
            <b>7.1</b> Top Rate reserve the right to cancel the service provided
            to any individual at any time, if it's not satisfied that such
            individual does not adhere to the terms of service or are suspected
            to be ingenuine with their dealing with Top Rate.
          </p>
          <h2>8. Collection of Information</h2>
          <p>
            <b>8.1</b> Australian law requires all financial institutions to
            assist in the fight against money laundering activities and the
            funding of terrorism by obtaining, verifying, and recording
            identifying information about all customers, recipients and
            beneficiary owners of customers. In accordance with our obligations
            under the AML/CTF Act, AML/CTF Rules and AML/CTF Regulations, we
            may, therefore, require you to supply us with sufficient personal
            information to enable us to verify your residential address and
            other personal details in order to confirm your identity. For that,
            we may ask for photographic evidence of your identity such as a copy
            of your passport, driver's license and other personal identifying
            document and/or information. We may also legally consult other
            sources to obtain information about you, your beneficiary owner
            and/or the recipient.Top Rate Transfer reserves the right to access
            various government and private databases, and credit reference
            agencies, which may keep a record of that information, so as to
            verify your information for the purposes of electronic
            identification. We may request additional information.
          </p>
          <h2>9. Privacy Policy</h2>
          <p>
            <b>9.1</b> Any information that you supply to enable us to perform
            our Services is protected by the Privacy Act 1988. You agree that
            Top Rate Transfer may use such personal data for the purposes of
            performing our Services, assessing the risk of performing our
            Services, for the purposes set out in our Terms and Conditions and
            to enable Top Rate Transfer to enforce its rights under our Terms
            and Conditions if necessary. You should be aware that: If we are
            requested or required by the police or any regulatory or government
            authority investigating suspected illegal activities, or upon the
            receipt of a court order, to provide your Personal Information
            and/or information concerning your activities whilst using the
            Website we shall do so; and We reserve the right in our reasonable
            discretion to disclose details of your use of the Website in
            relation to any, or any threatened, Court Proceedings in connection
            with your use, or the use of anyone under your control, of the
            Website whether in connection with the matters set out in these
            Terms and Conditions or otherwise.Top Rate Transfer handles all your
            information in accordance with our Privacy Policy. A copy of the
            Privacy Policy may be obtained on request at
            admin@topratetransfer.com.au. You agree that Top Rate Transfer may
            use your information for marketing and promotional purposes and/or
            may give details to a third party for market analysis, marketing and
            promotional purposes.
          </p>
          <h2>10. Limitations of Liability</h2>
          <p>
            <b>10.1</b>In no event shall Top Rate Transfer, Service Providers,
            or their respective subsidiaries, officers, agents, partners, or
            employees be liable for any direct, indirect, incidental, special,
            consequential or exemplary damages beyond the sum of AUD100.00 (in
            addition to refunding the transaction amount and transaction
            fees).Top Rate Transfer shall not be liable for any direct, indirect
            or consequential loss or damage sustained by the customer arising
            due to any delay in communicating or performance of any instructions
            or transactions due to any reason arising on account of
            circumstances not attributable to Top Rate Transfer or beyond
            control of Top Rate Transfer such as reasons of failure of
            operational systems, any kind of technical failures, natural
            calamity, floods, fire and other natural disasters, legal
            restraints, faults in the telecommunication network or network
            failure, software or hardware error, labour problem, strike or any
            other reason beyond the control of Top Rate Transfer.
          </p>
          <h2>11. Intellectual Property and Copyright</h2>
          <p>
            <b>11.1</b> You acknowledge and accept that all of the copyright,
            database rights and any other intellectual property rights which
            subsist in the design, layout, processes, functions, data and
            content of the Website are the property of Top Rate Transfer, its
            information providers or licensors. The Website is owned and
            operated by Top Rate Transfer. No part of the Site, its content or
            any of its underlying software and databases may be copied or
            reproduced, shared with third parties, reverse engineered, reverse
            assembled, or used to create any derivative work (whether in
            physical or electronic form) without the prior written consent of
            Top Rate Transfer. You are authorised solely to view and retain a
            copy of the pages of this website for your own personal,
            non-commercial use. You further agree not to use any robot, spider,
            scraper or other automated devices to access the Service; or remove
            or alter any author, trademark or other proprietary notice or legend
            displayed on this website (or printed pages thereof).
          </p>
          <h2>12. Complaints</h2>
          <p>
            <b>12.1</b> Top Rate Transfer aims to provide the highest level of
            customer service possible. If you experience a problem, Top Rate
            Transfer will always seek to resolve this as quickly and efficiently
            as possible. A copy of our complaint procedures is available on
            request at admin@topratetransfer.com.au. In the unlikely event, that
            you are dissatisfied with our Service, in the first instance, in
            accordance with our complaint procedures, Top Rate Transfer requires
            you to inform us of the complaint as soon as practicable in writing
            by email to admin@topratetransfer.com.au. Where the initial
            complaint is verbal it must be followed up immediately with a
            written complaint. We will acknowledge receipt of your complaint
            within 5 business days. We will investigate your complaint and come
            back to you with the initial results of our investigation no later
            than 5 weeks of receipt of your complaint. If you are not satisfied
            with the manner in which we have dealt with your complaint, we will
            escalate your complaint internally. If you are still dissatisfied,
            then you may have a right to refer your complaint to the Financial
            Ombudsman Service Australia, GPO Box 3 Melbourne VIC 3001
            (Australia), Telephone number 1800 367 287, Email info@fos.org.au
          </p>
          <h2>13. Changes to Terms and Conditions</h2>
          <p>
            <b>13.1</b> These Terms and Conditions may change from time to time,
            for example in order to comply with changes in the law or regulatory
            requirements or due to changes in market conditions.Top Rate
            Transfer will notify you of any changes to our Terms and Conditions
            in writing by email and/or by placing a notice on our Website. Top
            Rate Transfer will give you 7- days? notice to object to the changes
            by sending an email to admin@topratetransfer.com.au. Unless these
            amendments are rejected by you during that period, these will be
            deemed to be accepted. If the changes are rejected, the contract
            will be deemed to be terminated.Top Rate Transfer will also inform
            you of the date from which any change is to take effect (the
            “Effective Date”). Changes made to our Terms and Conditions will
            normally only apply to Services provided after the Effective Date
            but will also apply to Services provided before the Effective Date
            where Top Rate Transfer states so or is required to make them do so
            by law or regulatory requirements.
          </p>
          <h2>14. No Financial Advice</h2>
          <p>
            <b>14.1</b> The Service provided and information contained in this
            Website does not constitute investment or financial advice, and
            nothing relating to the provision of the information herein shall be
            construed as creating a fiduciary, financial or other advisory
            relationship between Top Rate Transfer and you or any other third
            party. Any comments or statements made are not a recommendation that
            a particular course of action is suitable for you and should not be
            regarded as investment advice. Before making any investment decision
            on the basis of any reports or information provided, you must read
            any relevant disclosure document and make your own investigations
            regarding the accuracy, reliability and completeness of this
            information. You should also seek expert professional advice about
            the offer in light of your particular financial circumstances and
            particular investment needs.
          </p>
          <p>
            <b>14.2</b> Use of the Top Rate Transfer Remittance Facility does
            not establish a checking account or any other form of a bank account
            for you or the Beneficiary with us or any of our distribution
            agents. Top Rate Transfer Remittance Facility does not constitute or
            create a fiduciary or escrow capacity between you and Top Rate
            Transfer. Funds held while processing a Remittance Payment request
            are not insured by any of the Australian Government Financial
            service guarantee schemes or any other government authority.
          </p>
          <h2>15. Disclaimer</h2>
          <p>
            <b>15.1</b> The information, material, advice, suggestions,
            illustrations, notifications, and circulars displayed here are
            collectively called "the contents" on this website. Top Rate
            Transfer assumes no responsibility for any mistakes, omissions,
            inaccuracies, typographical errors, etc. in the contents, nor does
            it make any warranty or representation regarding any content
            provided through this website. Top Rate Transfer disclaims all
            liabilities in respect of the contents. Any action taken on the
            basis of the said contents will be at your own risk and
            responsibility. Top Rate Transfer reserves its right to alter any
            part of the said contents, at its sole discretion, any time, as and
            when required. The contents of this website shall not be displayed
            or printed in any form, either in part or in whole, without the
            prior written approval of Top Rate Transfer.
          </p>
          <h2>16. Jurisdiction</h2>
          <p>
            <b>16.1</b> These Terms and Conditions will be governed and
            construed in accordance with Australian Law and any arising dispute
            pursuant to these Terms and Conditions will be determined by the
            courts in Australia. b. Our Terms and Conditions are written in the
            English language which shall also be the language of the Contract.
            All communications between us and you shall be made in the English
            language. Where any translation of our Terms and Conditions is
            undertaken into another language the English version of our Terms
            and Conditions shall prevail over any translation.
          </p>
          <h2>17. Jurisdiction</h2>
          <p>
            <b>17.1</b> By signing up for the Top Rate Transfer Remittance
            Facility, you acknowledge that you have read, understood, accept and
            agree to the terms and conditions of this Agreement. You also
            confirm that you are able to print or download a copy of this
            Agreement.
          </p>
          <p>
            <b>17.2</b> Any external links to third-party websites on the
            website are provided as a convenience to you. These sites are not
            controlled by us in any way and we are not responsible for the
            accuracy, completeness, legality or any other aspect of these other
            sites including any content provided on them. You access such
            websites at your own risk.
          </p>
          <div style="text-align: left; width: 50%;">
            <h2>
              Contact Information
            </h2>
            <p>
              Registered Office: Top Rate Transfer Pty Ltd ACN 641 161 444
              1D,<br />
              174 Forrest Parade Rosebery, NT, 0832,<br />
              Australia Email: admin@topratetransfer.com.au <br />Phone: 08 8992
              7648
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
