<div class="header bg-gradient-brand pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="">
        <h1 class="display-3 text-white">Rate & Charges Management</h1>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div style="width: 100%;">
        <div class="card card-stats mb-4 mb-lg-0">
          <div class="card-body">
            <div class="row">
              <div
                class="col-xl-6"
                style="padding-top: 30px; text-align: center;"
              >
                <h1 class="display-1">
                  AUD - NIG :
                </h1>
              </div>
              <div class="col-xl-6">
                <h1 class="display-1">
                  <small style="font-size: 30%;">AUD</small>25,000,000
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
