<nav
  class="mat-navbar mat-navbar-transparent mat-navbar-color-on-scroll mat-fixed-top mat-navbar-expand-lg"
  color-on-scroll="100"
  id="sectionsNav"
>
  <div class="container">
    <div class="mat-navbar-translate">
      <a
        class="mat-navbar-brand"
        style="padding: 0px !important;"
        routerLink="/"
      >
        <!-- Top Rate -->
        <img
          style="width: 15% !important;"
          src="./assets/img/tplogowhite.png"
          class="mat-navbar-brand-img"
          alt="logo"
        />
      </a>
      <button
        class="mat-navbar-toggler"
        type="button"
        data-toggle="collapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="mat-navbar-toggler-icon"></span>
        <span class="mat-navbar-toggler-icon"></span>
        <span class="mat-navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse mat-navbar-collapse">
      <ul class="mat-navbar-nav ml-auto" style="width: 300px;">
        <li class="mat-nav-item">
          <a href="#faq" class="mat-nav-link">
            FAQs
          </a>
        </li>
        <li class="mat-nav-item">
          <a class="mat-nav-link" href="#testimony">
            Testimonial
          </a>
        </li>
        <li class="mat-nav-item">
          <a class="mat-nav-link" href="#contact">
            Our Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
