<nav
  class="mat-navbar mat-navbar-transparent mat-navbar-color-on-scroll mat-fixed-top mat-navbar-expand-lg"
  color-on-scroll="100"
  id="sectionsNav"
>
  <div class="container">
    <div class="mat-navbar-translate">
      <a
        class="mat-navbar-brand"
        href="https://demos.creative-tim.com/material-kit/index.html"
      >
        <img
          src="./assets/img/tplogowhite.png"
          class="navbar-brand-img"
          alt="logo"
        />
      </a>
      <button
        class="mat-navbar-toggler"
        type="button"
        data-toggle="collapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="mat-navbar-toggler-icon"></span>
        <span class="mat-navbar-toggler-icon"></span>
        <span class="mat-navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse mat-navbar-collapse">
      <ul class="mat-navbar-nav ml-auto">
        <li class="mat-nav-item">
          <a href="#" class="mat-nav-link" data-toggle="dropdown">
            FAQs
          </a>
        </li>
        <li class="mat-nav-item">
          <a
            class="mat-nav-link"
            href="https://www.creative-tim.com/product/material-kit-pro"
            target="_blank"
          >
            Testimonial
          </a>
        </li>
        <li class="mat-nav-item">
          <a
            class="mat-nav-link"
            href="https://www.creative-tim.com/product/material-kit-pro"
            target="_blank"
          >
            Contact Us
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
